/* variable declaration */
@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
  line-height: 1.5;
}

// Heading
h1,
h2,
h3 {
  margin: 0;
  letter-spacing: 5px;

  &.lg-heading {
    font-size: 14vw;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: white;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $secondary-color;
  font-family: "Gochi Hand", cursive;
}

#dev-text {
  font-size: 7rem;
  color: rgb(105, 4, 46);
}
#dev-text2 {
  color: #54aa34;
}

#home {
  padding: 0;
}
main {
  min-height: calc(100vh - 4rem);


  #bg {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }

  #info {
    font-family: "Teko", sans-serif;
    font-size: 18vw;
    letter-spacing: 15px;
    margin: 10px 0;
    padding: 0;
    fill: #000;
  }

  #masked {
    mask: url("#maskLayer");
  }

  .home-intro {
    height: 100%;
    width: 100%;
    margin: 0 auto;

    & #logo {
      width: 100%;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 6rem;
      animation: fill 0.5s ease fowards 3.5s;
    }

    #logo path:nth-child(1) {
      stroke-dasharray: 534;
      stroke-dashoffset: 534;
      animation: design-path 2s ease forwards;
    }
    #logo path:nth-child(2) {
      stroke-dasharray: 309;
      stroke-dashoffset: 309;
      animation: design-path 2s ease forwards 0.6s;
    }
    #logo path:nth-child(3) {
      stroke-dasharray: 198;
      stroke-dashoffset: 198;
      animation: design-path 2s ease forwards 1.2s;
    }
    #logo path:nth-child(4) {
      stroke-dasharray: 339;
      stroke-dashoffset: 339;
      animation: design-path 2s ease forwards 1.8s;
    }
    #logo path:nth-child(5) {
      stroke-dasharray: 377;
      stroke-dashoffset: 377;
      animation: design-path 2s ease forwards 2.4s;
    }
    #logo path:nth-child(6) {
      stroke-dasharray: 503;
      stroke-dashoffset: 503;
      animation: design-path 2s ease forwards 3s;
    }
    #logo path:nth-child(7) {
      stroke-dasharray: 309;
      stroke-dashoffset: 309;
      animation: design-path 2s ease forwards 3.6s;
    }

    @keyframes design-path {
      to {
        stroke-dashoffset: 0;
        stroke-dasharray: 0;
        opacity: 0;
      }
    }

    @keyframes fill {
      from {
        fill: #fff;
      }
      to {
        fill: #34eaff;
      }
    }
  }

  .home-wrap {
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1rem;
  }

  #home-text2 {
    color: #00b1a7;
    margin-bottom: 0.4rem;
  }

  .icons {
    margin-top: 0.5rem;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;

    &::before {
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    & .icon {
      text-align: center;
      display: inline-block;
      font-size: 40px;
      line-height: 70px;
      height: 70px;
      width: 70px;
      margin-right: 20px;
      border-radius: 100%;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 100%;
        background: lightsteelblue;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        transform: scale(0);
        background: #4099ff;
        border-radius: 100%;
        z-index: -1;
      }

      &:hover {
        animation-name: bubble2;
        animation-duration: 0.5s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;

        &::after {
          animation-name: bubble;
          animation-duration: 0.5s;
          animation-fill-mode: forwards;
        }
        &.icon-xing {
          color: $xing-color;
          &::after {
            background: $xing-color;
          }
        }

        &.icon-facebook {
          color: $facebook-color;
          &::after {
            background: $facebook-color;
          }
        }

        &.icon-linkedin {
          color: $linkedin-color;
          &::after {
            background: $linkedin-color;
          }
        }

        &.icon-github {
          color: $github-color;
          &::after {
            background: $github-color;
          }
        }

        &.icon-instagram {
          color: $instagram-color;
          &::after {
            background: $instagram-color;
          }
        }
      }
    }
  }

  /* keyframes */
  @keyframes bubble {
    0% {
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes bubble2 {
    0% {
    }
    100% {
      color: #fff;
    }
  }
}

/* about scss */
#about-body {
  background: #fff;
}

#about {
  padding: 4rem;
}

.parallax {
  background-image: url("../img/randy4v.png");
  background-attachment: fixed;
  height: 100vh;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#my-background {
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  letter-spacing: 1px;

  & #fed {
    color: #54aa34;
  }
  & #bed {
    color: #df3adf;
  }

  & .dev-lang {
    color: black;
    text-shadow: #fff;
    font-weight: 900;
    letter-spacing: 5px;
  }
}

#about-txt {
  font-size: 6rem;
  font-weight: 700;
  margin-left: -20px;
  letter-spacing: -2px;
}
.about-info {
  padding: 2rem;
  display: grid;
  grid-gap: 3rem;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
  }

  .bio {
    grid-area: bio;
    color: dimgrey;
  }


  #skill-txt {
    font-size: 8vw;
  }
  .job-1 {
    grid-area: job1;
    border-left: solid 5px#54aa34;

    & h3 {
      color: #54aa34;
    }
  }

  .job-2 {
    grid-area: job2;
    border-left: solid 5px #df3adf;

    & h3 {
      color: #df3adf;
    }
  }
  .job-3 {
    grid-area: job3;
    border-left: solid 5px #a3defa;

    & h3 {
      color: #a3defa;
    }
  }
  .job {
    background: transparent;
    border-radius: 10px;
    margin-bottom: 9.5rem;
    position: relative;
    width: 100%;
    color: dimgray;

    .dev-main {
      font-size: 2.5rem;
      text-align: center;
      border-bottom: 1px solid #bdb8a9;
      padding-bottom: 1rem;
    }

    .dev-sub {
      text-align: center;
      font-family: open sans-serif;
      font-style: italic;
      font-size: 1rem;
      letter-spacing: 3px;
      padding: 1rem;
    }
    .tool-section {
      display: flex;
      justify-content: space-around;
    }

    ul {
      list-style: none;
      display: inline-block;
      font-size: 1.9rem;
      text-transform: uppercase;
    }

    li {
      color: black;
      opacity: 0.9;
      letter-spacing: 4px;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      border-radius: 15px;
      width: 100%;
      opacity: 0;
      transition: 0.3s ease;
      background-color: rgba(0, 0, 0, 0.8);
      & .core-img img {
        width: 100%;
        display: block;
      }

      & .library img {
        width: 20%;
        display: block;
        position: relative;
        left: 7.5rem;
        bottom: 3rem;
        margin: 10px;
      }
    }

    &:hover .overlay {
      transform: scale(1.1);
      transition: 0.2s ease-in-out;
      overflow: hidden;
      opacity: 1;
    }

    & .backend img {
      width: 13vw;
      display: block;
      position: relative;
      left: 7rem;
    }

    & .tools img {
      display: inline-block;
      width: 7vw;
      margin: 10px;
    }
  }
}


.journey {
  padding: 10rem;
  width: 50vw;
  margin: 40px auto;
  padding: 10px 20px 10px 20px;
  border-left: 2px solid $secondary-color;

  & span {
    font-family: sans-serif fantasy;
    color: $secondary-color;

    &:hover {
      @include easeOut;
      opacity: 0.8;
      color: black;
    }
  }

  & .timeline::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #f5f3ed;
    position: absolute;
    top: 7px;
    left: -29px;
  }

  & .timeline {
    background-color: peachpuff;
    padding: 0.8rem;
    margin-bottom: 1.6rem;
    border: 2px solid transparent;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    color: black;
    border-radius: 9px;
    box-shadow: 0px 9px 14px 5px #313131;

    & p {
      font-family: sans-serif;
      font-weight: 400;
      font-size: 11px;
    }

    & button {
      width: 150px;
      border: none;
      border-radius: 10px;
      background: black;
      overflow: hidden;
      padding: 0.7rem 0.25rem;
      box-shadow: 2px 1px 5px #000;

      & span {
        display: flex;
        width: 200%;
        transition: 0.25s ease-in-out;

        & i,
        strong {
          flex: 1 0 50%;
          color: white;
          font-size: 11px;
        }
        &:hover {
          transform: translateX(-50%);
        }
      }
    }

    #resume:hover {
      background: transparent;
    }
  }
  & .timeline::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px;
    border-color: transparent #000 transparent transparent;
    position: absolute;
    top: 7px;
    left: -17px;
  }
}
.journey .timeline:hover {
  @include easeOut;
  color: black;
  font-weight: 900;
}
#para {
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  font-size: 1.3em;
}

.section {
  display: block;
  clear: both;
  margin-bottom: 2rem;
  transition: opacity 2s ease;
  opacity: 1;
}

.hidden {
  opacity: 0;
}


/* Portfolio / Works */

#wrapper-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #1a1a1a;
  background: rgba(0, 0, 0, 0.2);
}
#wrapper-header:before {
  animation: no-transform 3s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  transform: translateY(-6rem);
  content: "";
  background: url("../img/brand.jpg") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}

.animate-pop-up {
  animation: no-transform 0.6s cubic-bezier(0, 0.69, 0.3, 1.14) forwards;
  opacity: 0;
  transform: translateY(-2rem) scale(0.8);
}

.header-down-arrow {
  animation: pulse 2s 3s ease-out infinite;
  position: absolute;
  left: 0;
  bottom: 8vh;
  text-align: center;
  right: 0;
  z-index: 10;
}

.header-down-arrow img {
  animation: no-transform 1s 1s ease-out forwards;
  opacity: 0;
  transform: translateY(4rem);
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.parallax2 {
  background-image: url("../img/do.jpg");
  background-attachment: fixed;
  height: 400px;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}
#work .lg-heading {
  margin-top: 50px;
  color: dimgrey;
  text-align: center;
}

#work .sm-heading {
  font-size: 20px;
  letter-spacing: 15px;
}

#work-text {
  font-size: 6rem;
  font-weight: 700;
  margin-left: -20px;
  letter-spacing: -2px;
}
.projects {
  padding: 2rem;
  position: relative;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  .project-box {
    position: relative;
    width: 100%;
    @include easeOut;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      right: 1rem;
      left: 1rem;
      border-top: 2px solid #00b1a7;
      border-bottom: 2px solid #00b1a7;
      box-sizing: border-box;
      @include easeOut;
      transform: scaleX(0);
      opacity: 0;
    }

    &:hover:before {
      transform: scaleX(1);
      opacity: 1;
    }
    &:after {
      content: "";
      position: absolute;
      top: 1rem;
      bottom: 1rem;
      right: 1rem;
      left: 1rem;
      border-left: 2px solid #00b1a7;
      border-right: 2px solid #00b1a7;
      box-sizing: border-box;
      @include easeOut;
      transform: scaleY(0);
      opacity: 0;
    }
    &:hover:after {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  img {
    width: 100%;
    border-radius: 3px #fff solid;
    @include easeOut;

    &:hover {
      opacity: 0.3;
      background-color: $secondary-color;
      transform: scale(1.1);
    }
  }
  .project-details {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;

    p {
      color: #fff;
      font-family: "Gochi Hand", cursive;
      text-align: center;
      margin: 0;
      padding: 0;
      @include easeOut;
      opacity: 0;
      transform: translateX(50px);

      &:hover {
        background: rgba(0, 0, 0, 0.6);
        transform: translateX(0px);
        opacity: 1;
        padding: 0.3rem 1rem;
      }
    }
  }
}

.section-gh {
  margin: 3rem auto;
  background: #54aa34;
  padding: 1rem;
  width: 50vw;
  height: 30vh;
  border-radius: 5px;

  &:hover {
    background: #000;
    transform: scale(0.9);
    @include easeOut;
    border: 6px solid white;
    box-shadow: 2px 5px 1px 15px #000;
  }

  & h2 {
    width: 100%;
    text-align: center;
  }

  & .github-account {
    width: 100%;
    margin-top: 50px;
    text-align: center;
  }
}

.asp {
  width: 100%;
  display: flex;
  background: #f0f1f0b7;
  height: auto;
  color: grey;
  padding: 1rem;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  & .req {
    width: 100%;
    height: auto;
    background: floralwhite;
    padding: 1rem;
    margin: 1rem;

    &:hover {
      background: #f1eded;
      @include easeOut;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    & .req-header {
      font-size: 2rem;
      color: burlywood;

      & .nbr {
        color: #cecece;
        font-family: serif;
        padding: 2px;
      }
    }

    & .req-motive {
      font-size: 15px;
      width: 100%;
      height: auto;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      @include easeOut;
      color: white;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

/* Contact section with wallpaper */
.contact-section {
  position: relative;
  width: 100%;
  height: 1700px;
  background: url("../img/bb.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#contact-intro {
  margin: 0;
  position: absolute;
  padding: 0;
  left: 30%;
  top: 30%;
  color: dimgrey;

  .lg-heading {
    font-size: 14vw;
    letter-spacing: 15px;
    margin: 0;

     #contact-text {
     font-size: 6rem;
     font-weight: 700;
     margin-left: -20px;
     letter-spacing: -2px;
  }
}

.sm-heading {
    font-size: 20px;
    letter-spacing: 15px;
    margin: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
 }
}

.personal-infobox {
  animation: FadeIn 5s;
  @include easeOut;
}
@keyframes FadeIn {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.boxes {
  width: 50vw; 
  margin: 2rem auto;

  & ul {
    list-style: none;
    display: inline;
  }

  li {
    font-size: 15px;
    text-align: center;
    border-left: 3px solid #fff;
    background: rgba(0, 0, 0, 0.4);
    background: linear-gradient(to right, #2121 50%, #00b1a7 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    margin-left: 10px;
    padding: 0.8rem 0.6rem;
    margin-right: 0.3rem;
    @include easeOut;

    &:hover {
      background-position: right bottom;
      border-left: 29px solid #212121;
    }

    & a {
      text-decoration: none;
      color: white;
    }
  }
}
/* new contact */

#contact {
  background: url("../img/contact.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 4rem;


  & .contact-title {
    margin-top: 50px;
    text-align: center;

    #contact-heading {
      font-size: 10vw;
      color: ghostwhite;
      opacity: .2;
    }
  }

  .contact-form {
    width: 600px;
    margin: 0 auto;

    & form {
      background: rgba(0, 0, 0, 0.6);
      margin-top: 50px;
      padding: 3rem;
      transition: all 4s ease-in-out;
    }

    & .form-control {
      width: 100%;
      height: 4.2rem;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid#cecece;
      color: white;
      transition: 0.4s ease-in-out;
      font-size: 18px;

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid #54aa34;
      }
    }

    & input:focus::-webkit-input-placeholder {
      color: transparent;
    }
    input:focus:-moz-placeholder {
      color: transparent;
    } /* FF 4-18 */
    input:focus::-moz-placeholder {
      color: transparent;
    } /* FF 19+ */
    input:focus:-ms-input-placeholder {
      color: transparent;
    } /* IE 10+ */

    & textarea:focus::-webkit-input-placeholder {
      color: transparent;
    }
    textarea:focus:-moz-placeholder {
      color: transparent;
    } /* FF 4-18 */
    textarea:focus::-moz-placeholder {
      color: transparent;
    } /* FF 19+ */
    textarea:focus:-ms-input-placeholder {
      color: transparent;
    } /* IE 10+ */

    & form .submit {
      background: transparent;
      border-color: transparent;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      margin-top: 2rem;
      box-shadow: 1px 5px 0px 5px #000;

      &:hover {
        background: $primary-color;
        color: #fff;
        cursor: pointer;
        letter-spacing: 2px;
        transition: all 0.3s;
      }
    }
  }
}

/* Button */
.btn {
  display: block;
  padding: 0.2rem 1rem;
  border: 2px solid #fff;
  margin-bottom: 0.2rem;
  align-items: center;

  &:hover {
    background-color: $secondary-color;
    @include easeOut;
    color: #fff;
  }
}

.btn-dark {
  @extend .btn;
  background-color: darken($primary-color, 50);
}
.btn-light {
  @extend .btn;
  background-color: lighten($primary-color, 50);
  color: black;
}

#sentmsg {
  font-family: open sans-serif;
  letter-spacing: 2px;
}
#main-footer {
  padding: 0.3rem;
  background: rgba(255, 255, 255, 1);
  color: $secondary-color;
  height: 100%;
  margin-top: 1.3rem;

  &:hover {
    color: $primary-color;
    @include easeOut;
    cursor: pointer;
    transition-delay: all 0, 5s;
  }

  & .footer-profile {
    display: flex;
    justify-content: space-around;
    align-content: baseline;

    & ul li {
      display: inline;
      text-decoration: none;
    }
  }

  & #small-text {
    text-align: center;
    margin-top: 10px;
  }
}

@import "mobile";
